.webviz-structunc-uncertainty-table-label {
    flex: 1;
    font-size: 1.2em;
    line-height: 1.6;
    text-align: middle;
    min-width: 100px;
}

.webviz-structunc-uncertainty-table-apply-btn {
    background-color: #0077cc;
    border-color: #0077cc;
    color: #fff;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    flex: 1;
    min-width: 100px;
}

.webviz-structunc-uncertainty-table-wrapper {
    overflow-y: auto; 
    height: 90vh; 
    font-size: 0.8em;
}

.webviz-structunc-blue-apply-btn {

    background-color: #0077cc;
    border-color: #0077cc;
    color: #fff;
    width: 100%;
    display: block;
    padding: 0 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.webviz-structunc-range-input {
    background-color:  #fff;
    width: 30%;
    border-width: thin;
    position: absolute;
    right: 10px;
}

.webviz-structunc-range-label {
    display: inline;
    margin-right: 10;
}

.webviz-structunc-open-modal-btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
}